.btn {
  color: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: inherit;
  padding: 0.8rem 1.6rem;
}

.primary {
  background-color: var(--color-brand--2);
  font-weight: 700;
  color: var(--color-dar--1);
}
